<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>857ee50fd208af6b7d1b58dad403f35a624b1ffb</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitName</key>
				<string>Crashlytics</string>
				<key>KitInfo</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>bugi.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>metapro-normal.otf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Nautilus.otf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Grande Oldstyle.ttf</string>
		<string>Bookos.ttf</string>
		<string>Adobe Caslon Italic Swash.ttf</string>
		<string>caslon.ttf</string>
		<string>AppleGaramond-Bold.ttf</string>
		<string>Ubuntu-M.ttf</string>
		<string>Ubuntu-B.ttf</string>
		<string>DIN.ttf</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>Russian</string>
	</array>
</dict>
</plist>
